{% extends "base.html" %}
{% load static %}    
  
  
  {% block events_template %}
      <div class="section events" id="events">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <div class="section-heading">
                <h6>{{upcoming_events.tag}}</h6>
                <h2>{{upcoming_events.title}}</h2>
              </div>
            </div>

            {% for event in events %}
              <div class="col-lg-12 col-md-6">
                <div class="item">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="image">
                        <img src="{{event.image.url}}" alt="">
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <ul>
                        <li>
                          <span class="category">{{event.tag}}</span>
                          <h4>{{event.title}}</h4>
                        </li>
                        <li>
                          <span>Date:</span>
                          <h6>{{event.data}}</h6>
                        </li>
                        <li>
                          <span>Duration:</span>
                          <h6>{{event.duration}}</h6>
                        </li>
                        <li>
                          <span>Price:</span>
                          <h6>{{event.price}}</h6>
                        </li>
                      </ul>
                      <a href="#"><i class="{{event.html_class}}"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>

  {% endblock %}