{% extends "base.html" %}
{% load static %}    

  {% block home_template %}
    <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="{% url "index" %}" class="logo">
                          <h1>Scholar</h1>
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Serach Start ***** -->
                      <div class="search-input">
                        <form id="search" action="#">
                          <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
                          <i class="fa fa-search"></i>
                        </form>
                      </div>
                      <!-- ***** Serach Start ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                        <li class="scroll-to-section"><a href="{% url "index" %}" class="active">Home</a></li>
                        <li class="scroll-to-section"><a href="{% url 'services' %}">Services</a></li>
                        <li class="scroll-to-section"><a href="{% url 'courses' %}">Courses</a></li>
                        <li class="scroll-to-section"><a href="{% url "team" %}">Team</a></li>
                        <li class="scroll-to-section"><a href="{% url "events" %}">Events</a></li>
                        <li class="scroll-to-section"><a href="{% url 'contact' %}">Register Now!</a></li>
                    </ul>   
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
    </header>
      <div class="main-banner" id="top">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="owl-carousel owl-banner">
                  {% for text in header_text %}
                    <div class="item item-1">
                      <div class="header-text">
                        <span class="category">{{text.tag}}</span>
                        <h2>{{text.title}}</h2>
                        <p>{{text.description}}</p>
                        <div class="buttons">
                          <div class="main-button">
                            <a href="#">{{text.request}}</a>
                          </div>
                          <div class="icon-button">
                            <a href="#"><i class="fa fa-play"></i> {{text.question}}</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="services section" id="services">
        <div class="container">
          <div class="row">
            {% for s in service_blocks %}
              <div class="col-lg-4 col-md-6">
                  <div class="service-item">
                      <div class="icon">
                          <img src="{{s.image.url}}" target="_blank" alt="{{s.title}}">
                      </div>
                      <div class="main-content">
                        <h4>{{s.title}}</h4>
                        <p>{{s.description}}</p>
                        <div class="main-button">
                          <a href="#">Read More</a>
                        </div>
                      </div>
                  </div>
              </div>
            {% endfor %} 
          </div>
        </div>
      </div>

      <div class="section about-us">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 offset-lg-1">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      {{about_begin.title}}
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      {{about_begin.description1}} <strong>{{about_begin.description2}}</strong>{{about_begin.description3}} <code>{{about_begin.description4}}</code> {{about_begin.description5}}
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    {{about_together.title}}
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      {{about_together.description1}} <strong>{{about_together.description2}}</strong>{{about_together.description3}}<code>{{about_together.description4}}</code> {{about_together.description5}}
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    {{about_best.title}}
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      {{about_best.description1}} <strong>{{about_best.description2}}</strong>{{about_best.description3}}
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      {{about_support.title}}
                    </button>
                  </h2>
                  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      {{about_support.description1}} <code>{{about_support.description2}}</code>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 align-self-center">
              <div class="section-heading">
                <h6>{{about_us.tag}}</h6>
                <h2>{{about_us.title}}</h2>
                <p>{{about_us.description}}</p>
                <div class="main-button">
                  <a href="#">Discover More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="section courses" id="courses" >
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <div class="section-heading">
                <h6>{{latest_courses.title}}</h6>
                <h2>{{latest_courses.description}}</h2>
              </div>
            </div>
          </div>
          <ul class="event_filter">
            <li>
              <a class="is_active" href="#!" data-filter="*">Show All</a>
            </li>
            <li>
              <a href="#!" data-filter=".design">{{latest_courses.category1}}</a>
            </li>
            <li>
              <a href="#!" data-filter=".development">{{latest_courses.category2}}t</a>
            </li>
            <li>
              <a href="#!" data-filter=".wordpress">{{latest_courses.category3}}</a>
            </li>
          </ul>
          <div class="row event_box">
            
            {% for e in events_blocks %}  
              <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 design">
                <div class="events_item">
                  <div class="thumb">
                    <a href="#"><img src="{{e.image.url}}" alt=""></a>
                    <span class="category">{{e.category}}</span>
                    <span class="price"><h6><em>$</em>{{e.price}}</h6></span>
                  </div>
                  <div class="down-content">
                    <span class="author">{{e.title1}}</span>
                    <h4>{{e.title2}}</h4>
                  </div>
                </div>
              </div>
            {%endfor %}
          
          </div>
        </div>
      </section>

      <div class="section fun-facts">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="wrapper">
                <div class="row">
                  {% for facts in facts_blocks %}  
                    
                      <div class="col-lg-3 col-md-6">
                        <div class="counter">
                          <h2 class="timer count-title count-number" data-to="{{facts.count}}" data-speed="1000"></h2>
                          <p class="count-text ">{{facts.title}}</p>
                        </div>
                      </div>
                
                  {% endfor %}
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="team section" id="team">
        <div class="container">
          <div class="row">
            {% for member in  team_members %}
              <div class="col-lg-3 col-md-6">
                <div class="team-member">
                  <div class="main-content">
                    <img src="{{member.image.url}}" alt="">
                    <span class="category">{{member.position}}</span>:
                    <h4>{{member.name}}</h4>

                        <ul class="social-icons">
                          {% for social in socials %}
                            
                            <li>
                              <a href="{{social.url}}" target="_blank" title="{{social.title}}">
                                <i class="{{social.html_class}}"></i>
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                    
                  </div>
                </div>
              </div>

            {% endfor %}  
          
          </div>
        </div>
      </div> 
      


      <div class="section testimonials">
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <div class="owl-carousel owl-testimonials">
                {% for author in authors %}
                  <div class="item">
                    <p>{{author.description}}</p>
                    <div class="author">
                      <img src="{{author.image.url}}" alt="">
                      
                      <span class="category">{{author.position}}</span>
                      <h4>{{author.name}}</h4>
                    </div>
                  </div>
                {% endfor %}
                
              

              </div>
            </div>
            <div class="col-lg-5 align-self-center">
              <div class="section-heading">
                <h6>{{testimonial.tag}}</h6>
                <h2>{{testimonial.title}}</h2>
                <p>{{testimonial.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section events" id="events">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <div class="section-heading">
                <h6>{{upcoming_events.tag}}</h6>
                <h2>{{upcoming_events.title}}</h2>
              </div>
            </div>

            {% for event in events %}
              <div class="col-lg-12 col-md-6">
                <div class="item">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="image">
                        <img src="{{event.image.url}}" alt="">
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <ul>
                        <li>
                          <span class="category">{{event.tag}}</span>
                          <h4>{{event.title}}</h4>
                        </li>
                        <li>
                          <span>Date:</span>
                          <h6>{{event.data}}</h6>
                        </li>
                        <li>
                          <span>Duration:</span>
                          <h6>{{event.duration}}</h6>
                        </li>
                        <li>
                          <span>Price:</span>
                          <h6>{{event.price}}</h6>
                        </li>
                      </ul>
                      <a href="#"><i class="{{event.html_class}}"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>

      <div class="contact-us section" id="contact">
        <div class="container">
          <div class="row">
            <div class="col-lg-6  align-self-center">
              <div class="section-heading">
                <h6>{{contact_us.tag}}</h6>
                <h2>{{contact_us.title}}</h2>
                <p>{{contact_us.description}}</p>
                <div class="special-offer">
                  <span class="offer">off<br><em>{{contact_us.offer_percent}}</em></span>
                  <h6>Valide: <em>{{contact_us.valide}}</em></h6>
                  <h4>Special Offer <em>{{contact_us.offer_percent}}</em> OFF!</h4>
                  <a href="#"><i class="{{contact_us.html_class}}"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="contact-us-content">
                <form id="contact-form" action="" method="post">
                  <div class="row">
                    <div class="col-lg-12">
                      <fieldset>
                        <input type="name" name="name" id="name" placeholder="Your Name..." autocomplete="on" required>
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your E-mail..." required="">
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <textarea name="content" id="message" placeholder="Your Message"></textarea>
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="orange-button">Send Message Now</button>
                      </fieldset>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

  {% endblock %}  