{% extends "base.html" %}
{% load static %}    
  
  
  {% block services_template %}
    <div class="services section" id="services">
      <div class="container">
          <div class="row">
            {% for s in service_blocks %}
              <div class="col-lg-4 col-md-6">
                  <div class="service-item">
                      <div class="icon">
                          <img src="{{s.image.url}}" target="_blank" alt="{{s.title}}">
                      </div>
                      <div class="main-content">
                        <h4>{{s.title}}</h4>
                        <p>{{s.description}}</p>
                        <div class="main-button">
                          <a href="#">Read More</a>
                        </div>
                      </div>
                  </div>
              </div>
            {% endfor %} 
          </div>
      </div>
    </div>
  {% endblock %}

